.footer {
  width: 100%;
  border-top: 1px solid #dadce0;

  .footer-wrap {
    max-width: 1175px;
    margin: 0 auto;
    padding: 77px 20px;
    background-color: #fff;
    color: #828c94;

    .footer-title {
      color: #3f474d;
      letter-spacing: -0.36px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    .footer-info {
      letter-spacing: -0.28px;
      font-size: 14px;
      line-height: 22px;
      color: #828c94;
    }
  }
}
